<foreach name="data" item="vo" key="k">
    <tr>
        <td>
            <input name="checkid[]" lay-skin="primary" value="{$vo.id}" type="checkbox">
        </td>
        <td>{$vo.id}</td>
        <td>{$vo.sender}</td>
        <td>({$vo.phone_code}){$vo.phone}</td>
        <td>{$vo.receiver}</td>
        <td>
            <switch name="vo.status">
                <case value="0">{$language.not-sent}</case>
                <case value="1">{$language.has-been-sent}</case>
                <default />{$language.fill-in-sent}
            </switch>
        </td>
        <td>{$vo.created_time|date="Y-m-d H:i:s",###}</td>
        <td>
            <ul class="pullDown-nav">
                <li class="pullDown-nav-item">
                    <a href="javascript:;">{$language.operation}</a>
                    <dl class="pullDown-nav-child">
                        <switch name="vo.status">
                            <case value="1"><dd><a href="javascript:;" style="background-color: #00a65a;" onclick="sendMessage({$vo.id})">{$language.Resend}</a></dd></case>
                            <case value="2"><dd><a href="javascript:;" style="background-color: #00a65a;" onclick="sendMessage({$vo.id})">{$language.Resend}</a></dd></case>
                            <default />
                        </switch>
                        <dd><a href="javascript:;" style="background-color: #00a65a;" onclick="showDetail({$vo.id})">{$language.See-details}</a></dd>
                    </dl>
                </li>
            </ul>
        </td>
    </tr>
</foreach>
<script>
    var form = layui.form;
    form.render('checkbox');
    $(function () {
        $(".layui-table tr td").find(".pullDown-nav").find("li.pullDown-nav-item").hover(function () {
            if (!$(this).hasClass("pullDown-this")) {
                $(this).addClass("pullDown-this").parent().parent().parent().siblings().find(
                        ".pullDown-nav").find("li.pullDown-nav-item").removeClass("pullDown-this");
                $(this).find("dl.pullDown-nav-child").css("display", "block");
                $(this).parent().parent().parent().siblings().find(".pullDown-nav").find(
                        "li.pullDown-nav-item").find("dl.pullDown-nav-child").css("display", "none");
                leavePullDownMenu();
            }
        },function(){
            $(this).addClass("pullDown-this").removeClass("pullDown-this");
            $(this).find(".pullDown-nav").find("dl.pullDown-nav-child").css("display", "none");
        });

        function leavePullDownMenu() {
            $("dl.pullDown-nav-child").on('mouseleave', function () {
                $(this).parentsUntil(".layui-table").find("tr").find("td").find(".pullDown-nav").find(
                        "li.pullDown-nav-item").removeClass("pullDown-this");
                $(this).parentsUntil(".layui-table").find("tr").find("td").find(".pullDown-nav").find(
                        "li.pullDown-nav-item").find("dl.pullDown-nav-child").css("display", "none");
            })
        }
    });
</script>