<extend name="Public/base"/>
<block name="style"></block>
<block name="scriptop"></block>
<block name="body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>{$language.Background-configuration}</legend>
    </fieldset>
    <fieldset class="layui-elem-field">
        <div class="layui-field-box">
            <div class="layui-form-item">
                <div class="layui-inline" style="float:right;margin-right:25px;">
                    <button class="layui-btn" onclick="create()" type="button">{$language.created}</button>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="layui-form">
        <table class="layui-table" lay-size="sm">
            <colgroup>
                <col width="50">
                <col width="50">
                <col width="50">
                <col width="200">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
            <tr>
                <th>{$language.title}</th>
                <th>{$language.Variable-name}</th>
                <th>{$language.Variable-value}</th>
                <th>{$language.description}</th>
                <th>{$language.create-time}</th>
                <th>{$language.update-time}</th>
                <th>{$language.operation}</th>
            </tr>
            </thead>
            <tbody id="ajax_return">
                <foreach name="data" item="vo" key="k">
                    <tr>
                        <td>{$vo.title}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.value}</td>
                        <td>{$vo.describe}</td>
                        <td>{$vo.create_time}</td>
                        <td>{$vo.update_time}</td>
                        <td><button class="layui-btn layui-btn-mini" style="background-color: #17a2b8;" onclick="update({$vo.id})">{$language.updated}</button></td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div id="demo7"></div>
</block>

<block name="script">
    <script>
        layui.use(['form'], function(){});
        /*打开创建页面*/
        function create(){
            layer.open({
                type: 2 //此处以iframe举例
                ,title: '{$language.created}'
                ,area: ['500px', '500px']
                ,shade: 0
                ,maxmin: true
                ,id:'print_iframe'
                ,content: '/admin.php/Config/createConfig'
                ,btn: ['{$language.define}','{$language.close}'] //只是为了演示
                ,yes: function(){
                    var iframe = $("#print_iframe").children("iframe").attr("id");
                    window.frames[iframe].subData();
                }
                ,btn2: function(){
                    layer.closeAll();
                }
            });
        }

        /*打开编辑页面*/
        function update(id){
            layer.open({
                type: 2 //此处以iframe举例
                ,title: '{$language.updated}'
                ,area: ['500px', '500px']
                ,shade: 0
                ,maxmin: true
                ,id:'print_iframe'
                ,content: '/admin.php/Config/updateConfig/id/'+id
                ,btn: ['{$language.define}','{$language.close}'] //只是为了演示
                ,yes: function(){
                    var iframe = $("#print_iframe").children("iframe").attr("id");
                    window.frames[iframe].subData();
                }
                ,btn2: function(){
                    layer.closeAll();
                }
            });
        }
        /*关闭二级页面*/
        function layer_back(){
            layer.closeAll();
            window.location.reload();
        }
    </script>
</block>