<table class="layui-table" lay-size="sm">
    <colgroup>
        <col width="100">
        <col width="100">
        <col width="100">
    </colgroup>
    <thead>
    <tr>
        <th>{$language.project}</th>
        <th>{$language.package-sum}</th>
        <th>{$language.package-num}</th>
    </tr>
    </thead>
    <tbody id="ajax_return">
    <foreach name="info.content" item="vo" key="k">
        <tr>
            <td>{$vo.project}</td>
            <td>{$vo.sum}</td>
            <td>{$vo.num}</td>
        </tr>
    </foreach>
    <tr>
        <th>
            <div class="layui-table-cell "><span>{$language.pay-sn}:{$info.sn}</span></div>
        </th>
        <th colspan="2">
            <div class="layui-table-cell "><span>{$language.money}:{$info.money}</span></div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="layui-table-cell "><span>{$language.Payment-method}:{$info.mode}</span></div>
        </th>
        <th colspan="2">
            <div class="layui-table-cell "><span>{$language.Payment-status}:{$info.status}</span></div>
        </th>
    </tr>
    </tbody>
</table>