<extend name="Public/base"/>
<block name="style">
    <style type="text/css">
        /*设置 layui 表格中单元格内容溢出可见样式*/
        .table-overlay .layui-table-view,
        .table-overlay .layui-table-box,
        .table-overlay .layui-table-body {
            overflow: visible;
        }

        .table-overlay .layui-table-cell {
            height: auto;
            overflow: visible;
        }
    </style>
</block>
<block name="scriptop"></block>
<block name="body">
    <!--左边-->
    <form class="layui-form" id="form" action="">
        <div class="layui-col-md12">
            <div class="layui-form-item">
                <label class="layui-form-label">{$language.Chinese-title}：<b style="color:#d70101">*</b></label>
                <div class="layui-input-block">
                    <input name="chinese" placeholder="{$language.Chinese-title}"  readonly value="{$info.chinese}" autocomplete="off" class="layui-input" type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{$language.English-title}：<b style="color:#d70101">*</b></label>
                <div class="layui-input-block">
                    <input name="english" placeholder="{$language.English-title}" readonly  value="{$info.english}" autocomplete="off" class="layui-input" type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{$language.package}：<b style="color:#d70101">*</b></label>
                <div class="layui-input-block">
                    <div id="toolbar">
                        <div>
                            <button type="button" class="layui-btn layui-btn-sm" data-type="addRow" title="{$language.add}">
                                <i class="layui-icon layui-icon-add-1"></i> {$language.add}
                            </button>
                        </div>
                    </div>
                    <div id="tableRes" class="table-overlay">
                        <table id="dataTable" lay-filter="dataTable" class="layui-hide"></table>
                    </div>
                    <div class="layui-form  layui-table-view">
                        <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-even="">
                            <thead>
                            <tr>
                                <th data-field="project" data-key="1-0-0" class="">
                                    <div class="layui-table-cell laytable-cell-1-0-0"><span>{$language.Total-price}:</span></div>
                                </th>
                                <th data-field="price" data-key="1-0-1" class="">
                                    <div class="layui-table-cell laytable-cell-1-0-2">
                                        <input name="total" placeholder="0.00"  value="{$info.original}" autocomplete="off" class="layui-input priceTol" type="text">
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{$language.present}：<b style="color:#d70101">*</b></label>
                <div class="layui-input-block">
                    <input name="present" placeholder="{$language.present}"  value="{$info.present}" autocomplete="off" class="layui-input" type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{$language.Term-validity}：<b style="color:#d70101">*</b></label>
                <div class="layui-input-block">
                    <input name="date" placeholder="{$language.Term-validity}"  value="{$info.date}" autocomplete="off" class="layui-input" type="text">
                    <div class="layui-form-mid layui-word-aux">单位：天，0代表无限期</div>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
            <div class="layui-footer" style="left: auto;">
                <a class="layui-btn" onclick="subUpdate()"><i class="layui-icon">&#xe605;</i>{$language.Submission} </a>
                <button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon">&#x1006;</i>{$language.Reset}</button>
                <a class="layui-btn layui-btn-primary" onclick="closeBtns()"><i class="layui-icon">&#x1006;</i>{$language.close} </a>
            </div>
        </div>
    </form>
</block>
<block name="script">
    <script type="text/javascript">
        //准备视图对象
        window.viewObj = {
            tbData: {$info['content']},
            typeData: {$projectGroup},
            renderSelectOptions: function(data, settings) {
                settings = settings || {};
                var valueField = settings.valueField || 'value',
                        textField = settings.textField || 'text',
                        selectedValue = settings.selectedValue || "";
                var html = [];
                for (var i = 0, item; i < data.length; i++) {
                    item = data[i];
                    html.push('<option value="');
                    html.push(item[valueField]);
                    html.push('"');
                    if (selectedValue && item[valueField] == selectedValue) {
                        html.push(' selected="selected"');
                    }
                    html.push('>');
                    html.push(item[textField]);
                    html.push('</option>');
                }
                return html.join('');
            }
        };

        //layui 模块化引用
        layui.use(['jquery', 'table', 'layer'], function() {
            var $ = layui.$,
                    table = layui.table,
                    form = layui.form,
                    layer = layui.layer;

            //数据表格实例化
            var tbWidth = $("#tableRes").width();
            var layTableId = "layTable";
            var tableIns = table.render({
                elem: '#dataTable',
                id: layTableId,
                data: viewObj.tbData,
                width: tbWidth,
                page: false,
                limit:100,
                loading: true,
                even: true, //不开启隔行背景
                cols: [
                    [ {
                        field: 'project',
                        title: '{$language.project}',
                        templet: function(d) {
                            var options = viewObj.renderSelectOptions(viewObj.typeData, {
                                valueField: "id",
                                textField: "title",
                                selectedValue: d.project
                            });
                            return '<a lay-event="project"></a><select name="project[]" lay-filter="project"    lay-search=""><option value="">{$language.project}</option>' + options + '</select>';
                        },
                    }, {
                        field: 'price',
                        title: '{$language.price}',
                        templet: function(d) {
                            return '<input name="price[]" lay-event="price" value="'+d.price+'"  autocomplete="off"    class="layui-input" type="text">';
                        }
                    }, {
                        field: 'num',
                        title: '{$language.Number}',
                        templet: function(d) {
                            return '<input name="num[]" lay-event="num" value="'+d.num+'"  autocomplete="off"    class="layui-input" type="text">';
                        }
                    },{
                        field: 'tempId',
                        title: '{$language.operation}',
                        templet: function(d) {
                            return '<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" lay-id="' + d.tempId + '"><i class="layui-icon layui-icon-delete"></i>{$language.delete}</a>';
                        }
                    }]
                ],
                done: function(res, curr, count){
                    viewObj.tbData = res.data;
                }
            });
            //浮点数乘法
            function accMul(price,num,total)
            {
                var m=0,s1=price.toString(),s2=num.toString();
                try{m+=s1.split(".")[1].length}catch(e){}
                try{m+=s2.split(".")[1].length}catch(e){}
                return accAdd(Number(s1.replace(".",""))*Number(s2.replace(".",""))/Math.pow(10,m),total);
            }

            // 浮点数相加
            function accAdd(arg1, arg2) {
                var r1, r2, m;
                try {
                    r1 = arg1.toString().split(".")[1].length
                } catch (e) {
                    r1 = 0
                }
                try {
                    r2 = arg2.toString().split(".")[1].length
                } catch (e) {
                    r2 = 0
                }
                m = Math.pow(10, Math.max(r1, r2))
                return (arg1 * m + arg2 * m) / m
            }
            //定义事件集合
            var active = {
                addRow: function() { //添加一行
                    var oldData = table.cache[layTableId];
                    var newRow = {
                        tempId: new Date().valueOf(),
                        project: 0,
                        price: '0.00',
                        num:1,
                        name: '{$language.project}',
                    };
                    oldData.push(newRow);
                    tableIns.reload({
                        data: oldData
                    });
                },
                updateRow: function(obj) {
                    var oldData = table.cache[layTableId];

                    //总计
                    var priceTotal = 0; //价格小计
                    // 一秒后执行的原因？同时执行加不上当前修改的input
                    setTimeout(function() {
                        for (let item of table.cache[layTableId]) {
                            priceTotal = accMul(item.price,item.num,priceTotal);
                        }
                        $('.priceTol').val(priceTotal);
                    }, 500);

                    for (var i = 0, row; i < oldData.length; i++) {
                        row = oldData[i];
                        if (row.tempId == obj.tempId) {
                            $.extend(oldData[i], obj);
                            return;
                        }
                    }
                    tableIns.reload({
                        data: oldData
                    });
                },
                removeEmptyTableCache: function() {
                    var oldData = table.cache[layTableId];
                    for (var i = 0, row; i < oldData.length; i++) {
                        row = oldData[i];
                        if (!row || !row.tempId) {
                            oldData.splice(i, 1); //删除一项
                        }
                        continue;
                    }
                    tableIns.reload({
                        data: oldData
                    });
                },
                save: function() {
                    var oldData = table.cache[layTableId];
                    for (var i = 0, row; i < oldData.length; i++) {
                        row = oldData[i];
                        if (!row.type) {
                            layer.msg("检查每一行，请选择分类！", {
                                icon: 5
                            }); //提示
                            return;
                        }
                    }
                    document.getElementById("jsonResult").innerHTML = JSON.stringify(table.cache[layTableId], null, 2); //使用JSON.stringify() 格式化输出JSON字符串
                }
            }

            //激活事件
            var activeByType = function(type, arg) {
                if (arguments.length === 2) {
                    active[type] ? active[type].call(this, arg) : '';
                } else {
                    active[type] ? active[type].call(this) : '';
                }
            }

            //注册按钮事件
            $('.layui-btn[data-type]').on('click', function() {
                var type = $(this).data('type');
                activeByType(type);
            });

            //监听select下拉选中事件
            form.on('select(project)', function(data) {
                var curIndex = $('tr').index($(this).parent().parent().parent().parent().parent()) - 1;  //获取当前tr行数，减1即为input的index
                var value = data.value;
                $.ajax({
                    cache: true,
                    type: 'get',
                    url:'/admin.php/Product/getProductPrice?id='+value,
                    dataType:'json',
                    success: function(json){
                        $("input[name='price[]']").eq(curIndex).val(json);
                        $("input[lay-event='price']").eq(curIndex).trigger("click");
                        var elem = data.elem; //得到select原始DOM对象
                        $(elem).prev("a[lay-event='project']").trigger("click");
                    }
                });
            });
            $(document).on('input propertychange','input[name="present"]',function () {
                bindKeyEvent($(this));
            });

            $(document).on('input propertychange','input[name="price[]"]',function () {
                bindKeyEvent($(this));
                var curIndex = $('input[name="price[]').index($(this));  //获取当前tr行数，减1即为input的index
                $("input[lay-event='price']").eq(curIndex).trigger("click");
            });
            $(document).on('input propertychange','input[name="num[]"]',function () {
                bindKeyEvent2($(this));
                var curIndex = $('input[name="num[]').index($(this));  //获取当前tr行数，减1即为input的index
                $("input[lay-event='num']").eq(curIndex).trigger("click");
            });
            //价格的正则判断
            var bindKeyEvent = function(obj){
                obj.keyup(function () {
                    var reg = $(this).val().match(/\d+\.?\d{0,2}/);
                    var txt = '';
                    if (reg != null) {
                        txt = reg[0];
                    }
                    $(this).val(txt);
                }).change(function () {
                    $(this).keypress();
                    var v = $(this).val();
                    if (/\.$/.test(v))
                    {
                        $(this).val(v.substr(0, v.length - 1));
                    }
                });
            }
            //正整数判断
            var bindKeyEvent2 = function(obj){
                obj.keyup(function () {
                    var reg = $(this).val().match(/\d+/);
                    var txt = '';
                    if (reg != null) {
                        txt = reg[0];
                    }
                    $(this).val(txt);
                }).change(function () {
                    $(this).keypress();
                    var v = $(this).val();
                    if (/\.$/.test(v))
                    {
                        $(this).val(v.substr(0, v.length - 1));
                    }
                });
            }
            //监听工具条
            table.on('tool(dataTable)', function(obj) {
                var data = obj.data,
                        event = obj.event,
                        tr = obj.tr; //获得当前行 tr 的DOM对象
                switch (event) {
                    case "project":
                        var select = tr.find("select[name='project[]']");
                        if (select) {
                            var selectedVal = select.val();
                            $.extend(obj.data, {
                                'project': selectedVal
                            });
                            activeByType('updateRow', obj.data); //更新行记录对象
                        }
                        break;
                    case "price":
                        var price = tr.find("input[name='price[]']");
                        if (price) {
                            var value = price.val();
                            $.extend(obj.data, {
                                'price': value
                            });
                            activeByType('updateRow', obj.data); //更新行记录对象
                        }
                        break;
                    case "num":
                        var num = tr.find("input[name='num[]']");
                        if (num) {
                            var value = num.val();
                            $.extend(obj.data, {
                                'num': value
                            });
                            activeByType('updateRow', obj.data); //更新行记录对象
                        }
                        break;
                    case "del":
                        layer.confirm('真的删除行么？', function(index) {
                            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            layer.close(index);
                            activeByType('updateRow'); //更新行记录对象
                            activeByType('removeEmptyTableCache');
                        });
                        break;
                }
            });
        });

    </script>
    <script>
        function closeBtns(){
            parent.window.layer_back();
        }
        function subUpdate(){
            $.ajax({
                cache: true,
                type: 'POST',
                url:'/admin.php/Package/update?id='+{$info['id']},
                data:$('#form').serialize(),// 你的formid
                dataType:'json',
                success: function(json){
                    if(json.rel==1){
                        layer.confirm(json.msg, {
                            btn: ['{$language.define}'] //按钮
                        }, function(){
                            parent.window.layer_back();
                        });
                    }else{
                        layer.confirm(json.msg, {
                            btn: ['{$language.close}'] //按钮
                        }, function(){
                            parent.window.layer_back();
                        });
                    }
                }
            });
        }
    </script>
</block>