<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/Public/Layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/Public/Admin/css/User/user.css">
    <link rel="stylesheet" href="/Public/Layui/css/template.css">
    <link rel="stylesheet" href="/Public/select2/css/select2.min.css">
    <style>
        #product .layui-form-select {
            position: relative;
            display: none;
        }
    </style>
</head>
<body>
    <form class="layui-form" id="form">
        <blockquote class="layui-elem-quote">{$language.explain-red}<b style="color:#d70101">*</b>{$language.required-important}</blockquote>
        <div class="layui-col-md12">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.first-name}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <input name="first_name"  value="{$data.first_name}" autocomplete="off" class="layui-input" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.last-name}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <input name="last_name"  value="{$data.last_name}" autocomplete="off" class="layui-input" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.email}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <input name="email" placeholder="{$language.email}"  value="{$data.email}" autocomplete="off" class="layui-input" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.phoneCode}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <select name="phoneCode" lay-search="">
                            <switch name="data.phone_code">
                                <case value="86"><option value="86" selected>86({$language.China})</option></case>
                                <default /><option value="86">86({$language.China})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="1"><option value="1" selected>1({$language.American})</option></case>
                                <default /> <option value="1">1({$language.American})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="886"><option value="886" selected>886({$language.Taiwan})</option></case>
                                <default /><option value="886">886({$language.Taiwan})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="1"><option value="1" selected>1({$language.Canada})</option></case>
                                <default /><option value="1">1({$language.Canada})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="850"><option value="850" selected>850({$language.HongKong})</option></case>
                                <default /><option value="850">850({$language.HongKong})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="852"><option value="852" selected>852({$language.Macao})</option></case>
                                <default /> <option value="852">852({$language.Macao})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="61"><option value="61" selected>61({$language.Australia})</option></case>
                                <default /><option value="61">61({$language.Australia})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="64"><option value="64" selected>64({$language.NewZealand})</option></case>
                                <default /><option value="64">64({$language.NewZealand})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="44"><option value="44" selected>44({$language.Britain})</option></case>
                                <default /><option value="44">44({$language.Britain})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="34"><option value="34" selected>34({$language.Spain})</option></case>
                                <default /><option value="34">34({$language.Spain})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="39"><option value="39" selected>39({$language.Italy})</option></case>
                                <default /><option value="39">39({$language.Italy})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="33"><option value="33" selected>33({$language.France})</option></case>
                                <default /><option value="33">33({$language.France})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="49"><option value="49" selected>49({$language.Germany})</option></case>
                                <default /><option value="49">49({$language.Germany})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="32"><option value="32" selected>32({$language.Belgium})</option></case>
                                <default /><option value="32">32({$language.Belgium})</option>
                            </switch>
                            <switch name="data.phone_code">
                                <case value="41"><option value="41" selected>41({$language.Switzerland})</option></case>
                                <default /><option value="41">41({$language.Switzerland})</option>
                            </switch>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.phone}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <input name="phone" placeholder="{$language.phone}" value="{$data.phone}" autocomplete="off" class="layui-input" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.date}：</label>
                    <div class="layui-input-inline">
                        <input name="date" id="date"  value="{$data.date}" autocomplete="off" class="layui-input" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.time}：</label>
                    <div class="layui-input-inline">
                        <select name="time" lay-search="">
                            <switch name="data.time">
                                <case value="10:00-11:00"><option value="10:00-11:00" selected>10:00-11:00</option></case>
                                <default /><option value="10:00-11:00">10:00-11:00</option>
                            </switch>
                            <switch name="data.time">
                                <case value="11:30-12:30"><option value="11:30-12:30" selected>11:30-12:30</option></case>
                                <default /><option value="11:30-12:30">11:30-12:30</option>
                            </switch>
                            <switch name="data.time">
                                <case value="13:00-14:00"><option value="13:00-14:00" selected>13:00-14:00</option></case>
                                <default /><option value="13:00-14:00">13:00-14:00</option>
                            </switch>
                            <switch name="data.time">
                                <case value="14:30-15:30"><option value="14:30-15:30" selected>14:30-15:30</option></case>
                                <default /><option value="14:30-15:30">14:30-15:30</option>
                            </switch>
                            <switch name="data.time">
                                <case value="16:00-17:00"><option value="16:00-17:00" selected>16:00-17:00</option></case>
                                <default /><option value="16:00-17:00">16:00-17:00</option>
                            </switch>
                            <switch name="data.time">
                                <case value="17:30-18:30"><option value="17:30-18:30" selected>17:30-18:30</option></case>
                                <default /><option value="17:30-18:30">17:30-18:30</option>
                            </switch>
                        </select>
                    </div>
                </div>
                <div class="layui-block">
                    <label class="layui-form-label">{$language.project}：</label>
                    <div class="layui-input-block" id="product">
                        <select class="select" name="product[]" multiple="multiple" style="width:100%;">
                            <volist name="product" id="val">
                                <?php if(in_array($val['id'],$data['product'])): ?>
                                <option value="{$val.id}" selected>{$val.chinese}({$val.english})</option>
                                <?php else: ?>
                                <option value="{$val.id}" >{$val.chinese}({$val.english})</option>
                                <?php endif; ?>
                            </volist>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="/Public/Layui/layui.js" type="text/javascript" charset="utf-8"></script>
   <script type="text/javascript" src="/Public/Admin/js/jquery-2.0.3.min.js"></script>
    <script src="/Public/select2/js/select2.min.js"></script>
   <script>
        layui.use(['form','laydate','layer'], function(){
            var layer = layui.layer,laydate = layui.laydate;
            //日期
            laydate.render({
                elem: '#date',
                type: 'date',
                trigger: 'click'
            });
        });
   </script>
    <script>
        $(document).ready(function() {
            $('.select').select2();
        });
        function updateData(){
            $.ajax({
                cache: true,
                type: 'POST',
                url:'/admin.php/Reservation/updateReservationData?id='+{$data['id']},
                data:$('#form').serialize(),// 你的formid
                dataType:'json',
                success: function(json){
                    if(json.rel==1){
                        layer.confirm(json.msg, {
                            btn: ['{$language.define}'] //按钮
                        }, function(){
                            parent.window.layer_back();
                        });
                    }else{
                        layer.confirm(json.msg, {
                            btn: ['{$language.close}'] //按钮
                        });
                    }
                }
            });
        }
    </script>
</body>
</html>