<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/Public/Layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/Public/Admin/css/User/user.css">
    <link rel="stylesheet" href="/Public/Layui/css/template.css">
</head>
<body>
    <form class="layui-form" id="form">
        <blockquote class="layui-elem-quote">{$language.explain-red}<b style="color:#d70101">*</b>{$language.required-important}</blockquote>
        <div class="layui-col-md8">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.nickname}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <input name="username" placeholder="{$language.nickname}"  value="" autocomplete="off" class="layui-input" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.sex}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <select name="sex" lay-search="">
                            <option value="male">{$language.male}</option>
                            <option value="female">{$language.female}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.phoneCode}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <select name="phoneCode" lay-search="">
                            <option value="86">86({$language.China})</option>
                            <option value="1">1({$language.American})</option>
                            <option value="886">886({$language.Taiwan})</option>
                            <option value="1">1({$language.Canada})</option>
                            <option value="850">850({$language.HongKong})</option>
                            <option value="852">852({$language.Macao})</option>
                            <option value="61">61({$language.Australia})</option>
                            <option value="64">64({$language.NewZealand})</option>
                            <option value="44">44({$language.Britain})</option>
                            <option value="34">34({$language.Spain})</option>
                            <option value="39">39({$language.Italy})</option>
                            <option value="33">33({$language.France})</option>
                            <option value="49">49({$language.Germany})</option>
                            <option value="32">32({$language.Belgium})</option>
                            <option value="41">41({$language.Switzerland})</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.phone}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <input name="phone" placeholder="{$language.phone}" value="" autocomplete="off" class="layui-input" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.email}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <input name="email" placeholder="{$language.email}"  value="" autocomplete="off" class="layui-input" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.birth}：</label>
                    <div class="layui-input-inline">
                        <input name="birth" id="birth" placeholder="{$language.birth}"  value="" autocomplete="off" class="layui-input" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.ActivityLevel}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <select name="ActivityLevel" lay-search="">
                            <option value="active">{$language.active}</option>
                            <option value="inactive">{$language.inactive}</option>
                            <option value="masked">{$language.masked}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.source}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <select name="source" lay-search="">
                            <volist name="source" id="val">
                                <option value="{$val.id}">{$val.title}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.country}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <select name="country" lay-search="">
                            <volist name="country" id="val">
                                <option value="{$val.id}">{$val.title}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.CustomerCategory}：<b style="color:#d70101">*</b></label>
                    <div class="layui-input-inline">
                        <select name="type" lay-search="">
                            <volist name="type" id="val">
                                <option value="{$val.id}">{$val.title}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{$language.recommender}：</label>
                    <div class="layui-input-inline">
                        <select name="recommender" lay-search="">
                            <option value="">{$language.recommender}</option>
                            <volist name="customerGroup" id="val">
                                <option value="{$val.id}">{$val.username}（{$val.cartnum}）</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="layui-block">
                    <label class="layui-form-label">{$language.Personal-profile}</label>
                    <div class="layui-input-block">
                        <textarea  name="describe" class="layui-textarea" placeholder="{$language.Personal-profile}"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="/Public/Layui/layui.js" type="text/javascript" charset="utf-8"></script>
   <script type="text/javascript" src="/Public/Admin/js/jquery-2.0.3.min.js"></script>
   <script>
        layui.use(['form','laydate','layer'], function(){
            var layer = layui.layer,laydate = layui.laydate;
            //日期
            laydate.render({
                elem: '#birth',
                type: 'date',
                trigger: 'click'
            });
        });
   </script>
    <script>
        function subData(){
            $.ajax({
                cache: true,
                type: 'POST',
                url:'/admin.php/Customer/createCustomerData',
                data:$('#form').serialize(),// 你的formid
                dataType:'json',
                success: function(json){
                    if(json.rel==1){
                        layer.confirm(json.msg, {
                            btn: ['{$language.define}'] //按钮
                        }, function(){
                            parent.window.layer_back();
                        });
                    }else{
                        layer.confirm(json.msg, {
                            btn: ['{$language.close}'] //按钮
                        }, function(){
                            parent.window.layer_back();
                        });
                    }
                }
            });
        }
    </script>
</body>
</html>