<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" href="/Public/Admin/css/User/drop-down.css" media="all">
</block>
<block name="scriptop">
</block>
<block name="body">
    <fieldset class="layui-elem-field">
        <legend>{$language.screen}</legend>
        <div class="layui-field-box">
            <form class="layui-form" method="post" name="search-form2" id="search-form2">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{$language.ActivityLevel}：</label>
                        <div class="layui-input-inline" style="width: 130px;">
                            <select name="ActivityLevel" lay-search="">
                                <option value="">{$language.ActivityLevel}</option>
                                <option value="active">{$language.active}</option>
                                <option value="inactive">{$language.inactive}</option>
                                <option value="masked">{$language.masked}</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{$language.source}：</label>
                        <div class="layui-input-inline" style="width: 130px;">
                            <select name="source" lay-search="">
                                <option value="">{$language.source}</option>
                                <volist name="source" id="val">
                                    <option value="{$val.id}">{$val.title}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{$language.country}：</label>
                        <div class="layui-input-inline">
                            <select name="country" lay-search="">
                                <option value="">{$language.country}</option>
                                <volist name="country" id="val">
                                    <option value="{$val.id}">{$val.title}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{$language.recommender}：</label>
                        <div class="layui-input-inline">
                            <select name="recommender" lay-search="">
                                <option value="">{$language.recommender}</option>
                                <volist name="customerGroup" id="val">
                                    <option value="{$val.id}">{$val.username}（{$val.cartnum}）</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">生日：</label>
                        <div class="layui-input-inline" style="width: 130px;">
                            <input name="birthday" autocomplete="off" id="birth" placeholder="MM-dd" class="layui-input" type="text">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{$language.keywords}：</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <input name="keywords"  placeholder="{$language.keywords}" class="layui-input" type="text" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline" style="float:right;margin-right:25px;">
                        <button class="layui-btn" onclick="ajax_get_table('search-form2',1,true)" type="button">{$language.search}</button>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>{$language.customer}{$language.menu-management}</legend>
    </fieldset>
    <fieldset class="layui-elem-field">
        <div class="layui-field-box">
            <div class="layui-form-item">
                <div class="layui-inline" style="float:left;margin-right:25px;">
                    <button class="layui-btn" onclick="sendMessage()" type="button">{$language.send-short-messages}</button>
                </div>
                <div class="layui-inline" style="float:left;margin-right:25px;">
                    <button class="layui-btn" onclick="sendMail()" type="button">{$language.send-mail}</button>
                </div>
                <div class="layui-inline" style="float:right;margin-right:25px;">
                    <button class="layui-btn" onclick="create()" type="button">{$language.created}</button>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="layui-form">
        <table class="layui-table" lay-size="sm">
            <colgroup>
                <col width="5">
                <col width="50">
                <col width="80">
                <col width="50">
                <col width="50">
                <col width="50">
                <col width="50">
                <col width="50">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
            <tr>
                <th><input name="" lay-skin="primary" lay-filter="allChoose" type="checkbox"></th>
                <th>{$language.Membership-card}</th>
                <th>{$language.nickname}</th>
                <th>{$language.phone}</th>
                <th>{$language.email}</th>
                <th>{$language.sex}</th>
                <th>{$language.birth}</th>
                <th>{$language.ActivityLevel}</th>
                <th>{$language.Entry-time}</th>
                <th>{$language.operation}</th>
            </tr>
            </thead>
            <tbody id="ajax_return">
            </tbody>
        </table>
    </div>
    <div id="demo7"></div>
</block>

<block name="script">
    <script>
        layui.use(['form', 'laydate','element'], function(){
            var $ = layui.jquery, form = layui.form, element = layui.element,laydate = layui.laydate;
             //全选
            form.on('checkbox(allChoose)', function(data){

                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
                child.each(function(index, item){
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            //日期
            laydate.render({
                elem: '#birth',
                type: 'date'
            });
        });

        /*打开创建页面*/
        function create(){
            layer.open({
                type: 2 //此处以iframe举例
                ,title: '{$language.created}'
                ,area: ['100%', '100%']
                ,shade: 0
                ,maxmin: true
                ,id:'print_iframe'
                ,content: '/admin.php/Customer/createCustomer'
                ,btn: ['{$language.define}','{$language.close}'] //只是为了演示
                ,yes: function(){
                    var iframe = $("#print_iframe").children("iframe").attr("id");
                    window.frames[iframe].subData();
                }
                ,btn2: function(){
                    layer.closeAll();
                }
            });
        }
        /*打开编辑页面*/
        function update(id){
            layer.open({
                type: 2 //此处以iframe举例
                ,title: '{$language.updated}'
                ,area: ['100%', '100%']
                ,shade: 0
                ,maxmin: true
                ,id:'print_iframe'
                ,content: '/admin.php/Customer/updateCustomer/id/'+id
                ,btn: ['{$language.define}','{$language.close}'] //只是为了演示
                ,yes: function(){
                    var iframe = $("#print_iframe").children("iframe").attr("id");
                    window.frames[iframe].subData();
                }
                ,btn2: function(){
                    layer.closeAll();
                }
            });
        }
        /*关闭二级页面*/
        function layer_back(){
            layer.closeAll();
            window.location.reload();
        }
    </script>

    <script>
        //发送短信
        function sendMessage(){
            var productArr = new Array();
            $("input[name='checkid[]']").each(function(index,item){
                var ch = $(this).is(':checked');
                if(ch){
                    productArr[index] = $(this).val();
                };
            });
            if (productArr === undefined || productArr.length == 0) {
                alert('请选择需要发送的客户')
                return false;
            }
            var idArr = new Array();
            for(var i=0;i<productArr.length;i++){
                if(productArr[i] > 0){
                    idArr.push(productArr[i]) ;
                }
            }
            layer.open({
                type: 2 //此处以iframe举例
                ,title: '{$language.send-short-messages}'
                ,area: ['100%', '100%']
                ,shade: 0
                ,maxmin: true
                ,id:'print_iframe'
                ,content: '/admin.php/Customer/getPhoneArr?id='+idArr
                ,btn: ['{$language.define}','{$language.close}'] //只是为了演示
                ,yes: function(){
                    var iframe = $("#print_iframe").children("iframe").attr("id");
                    window.frames[iframe].sendMessage();
                }
                ,btn2: function(){
                    layer.closeAll();
                }
            });
        }
        //发送短信
        function sendMail(){
            var productArr = new Array();
            $("input[name='checkid[]']").each(function(index,item){
                var ch = $(this).is(':checked');
                if(ch){
                    productArr[index] = $(this).val();
                };
            });
            if (productArr === undefined || productArr.length == 0) {
                alert('请选择需要发送的客户')
                return false;
            }
            var idArr = new Array();
            for(var i=0;i<productArr.length;i++){
                if(productArr[i] > 0){
                    idArr.push(productArr[i]) ;
                }
            }
            layer.open({
                type: 2 //此处以iframe举例
                ,title: '{$language.send-mail}'
                ,area: ['100%', '100%']
                ,shade: 0
                ,maxmin: true
                ,id:'print_iframe'
                ,content: '/admin.php/Customer/getEmailArr?id='+idArr
                ,btn: ['{$language.define}','{$language.close}'] //只是为了演示
                ,yes: function(){
                    var iframe = $("#print_iframe").children("iframe").attr("id");
                    window.frames[iframe].sendMessage();
                }
                ,btn2: function(){
                    layer.closeAll();
                }
            });
        }
    </script>

    <!--搜索功能-->
    <script type="text/javascript">
        window.onload=function(){
            ajax_get_table('search-form2',1,true);
        }
        function ajax_get_table(tab,page,flag){
            $.ajax({
                type : "POST",
                url:"/admin.php/Customer/ajaxCustomer/p/"+page,//+tab,
                data : $('#'+tab).serialize(),// 你的formid
                success: function(data){
                    layer.msg('{$language.waiting-for-queries}...', {
                        icon: 1,   // 成功图标
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){ // 关闭后执行的函数
                        $("#ajax_return").html('');
                        $("#ajax_return").append(data.html);
                    });
                    if(flag){
                        layui.use(['laypage', 'layer'], function(){
                            var laypage = layui.laypage
                                    ,layer = layui.layer;
                            var num = data.pagenum;
                            var pages = data.pages;
                            //调用分页
                            laypage.render({
                                elem: 'demo7'
                                ,count: num
                                ,limit:pages
                                ,layout: ['count', 'prev', 'page', 'next', 'skip']
                                ,jump: function(obj){
                                    var page_num = obj.curr;
                                    ajax_get_table('search-form2',page_num,false);
                                }
                            });

                        });
                    }
                }
            });
        }
    </script>
</block>